<div class= "Backgroundvideo">Video Goes Here</div>
<div>Feature A Home
  <div><img><p>1</p>
  </div>

  <div><img><p>2</p>
  </div>

  <div><img><p>3</p>
  </div>

  <div><img><p>4</p>
  </div>

  <div><img><p>5</p>
  </div>

  <div><img><p><6/p>
  </div>

  <div>
    <img><p>7</p>
  </div>
  
  <div>
    <img><p>8</p>
  </div>

</div>

<div>Neighborhoods
 <div><img><p>1</p>

  </div>

  <div><img><p>2</p>

  </div>
  <div><img><p>3</p>

  </div>
  <div><img><p>4</p>

  </div>
  <div><img><p>5</p>

  </div>
  <div><img><p>6</p>

  </div>
  <div>
    <img><p>7</p>
  </div>
  <div>
    <img><p>8</p>
  </div>
</div>
<div>Experiences
   <div><img><p>1</p>

  </div>

  <div><img><p>2</p>

  </div>
  <div><img><p>3</p>

  </div>
  <div><img><p>4</p>

  </div>
  <div><img><p>5</p>

  </div>
  <div><img><p><6/p>

  </div>
  <div>
    <img><p>7</p>
  </div>
  <div>
    <img><p>8</p>
  </div>
</div>

<Footer>Same Footer as on AirBnB</Footer>